.side-nav {
  font-size: 1.4rem;
  list-style-type: none;
  margin-top: 3.5rem;

  @include respond(medium) {
    display: flex;
    margin: 0;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: .5rem;

      @include respond(medium) {
        margin: 0;
      }
 
    }

    @include respond(medium) {
      flex: 1;
    }

  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform .3s, 
                width .4s cubic-bezier(1, 0, 0, 1) .3s, 
                background-color .1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem 3rem;

    display: flex;
    align-items: center;

    @include respond(medium) {
      justify-content: center;
      padding: 1.5rem;
    }

    @include respond(small) {
      flex-direction: column;
      padding: 1.5rem .5rem;
    }

  }

  &__link > span {
    z-index: 1;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem; 
    margin-right: 2rem;
    fill: currentColor;
    z-index: 1;

    @include respond(small) {
      margin-right: 0;
      margin-bottom: 5px;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}