@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: var(--shadow-dark);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}