*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px!

  @include respond(large) {
    font-size: 50%; // 1 rem = 8px!
  }

}
