@mixin centerElement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin centerHorizontal {
  display: flex;
  justify-content: center;
}

// Media Query Manager -- Perfect Way Philosophy (Em Formula: Intended Pixels / 16. The result will be in em.)
@mixin respond($breakpoint) {

  // 1200px.
  @if $breakpoint == largest {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  // 1100px.
  @if $breakpoint == large {
    @media only screen and (max-width: 69.75em) {
      @content;
    }
  }

  // 900px.
  @if $breakpoint == medium {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  // 600px.
  @if $breakpoint == small {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  // 500px.
  @if $breakpoint == smallest {
    @media only screen and (max-width: 31.25em) {
      @content;
    }
  }


}