/* Lecture Notes Jonas's Course - Trillo

Architecture and Philosophies:
- Flexbox Grid System
- Think, Build, Architect Philosophy
- Desktop-first Build
- BEM Methodology
- NPM Build Process -> Compile, Prefix, Compress, Run.
- Perfect Responsive Design Philosphy -> Breakpoints where design starts to break.

Sassy CSS:
- CSS 7 in 1 Architecture
- KISS and DRY
- SASS Guidelines

Flexbox Notes:
- Justify Content to center all the content in the main axis (left to right).
- Align Items to center all the content in the cross axis (up to bottom).
- Align Self (set to stretch) is to maximize the current flex without overflowing. Without align self, it does not fit into the section.
- Align Content is used to align all contents with each other (space between rows of the container).
- Flex Wrap is to update the items into a new line when they break/not tidy.
- Flex Direction (Column) changes the cross axis to be left to right, and main axis to be up to bottom.

Notes:
- Use the power of margin-x: auto in order to make an element span the size of itself. 
- An example would be at the stars at overview component.
- SVG's are inline elements - so set their display to flex to really center them (remove any whitespaces).

*/
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
:root {
  --color-primary:        #0080ff;
  --color-primary-light:  #89c4ff;
  --color-primary-dark:   #004589;
  --color-secondary-light: #ffb900;
  --color-secondary-dark: #ff7730;
  --color-grey-light-1:   #faf9f9;
  --color-grey-light-2:   #f4f2f2;
  --color-grey-light-3:   #f0eeee;
  --color-grey-light-4:   #ccc;
  --color-grey-dark-1:    #333;
  --color-grey-dark-2:    #777;
  --color-grey-dark-3:    #999;
  --color-white: #fff;
  --color-black: #000;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .5);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .1);
  --line: 1px solid var(--color-grey-light-2);
  --min-height-placeholder: 70rem; }

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: var(--shadow-dark); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 69.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2); }

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4); }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

.paragraph--bold {
  font-weight: 600; }

.paragraph--center {
  text-align: center; }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.link {
  text-decoration: none;
  color: var(--color-secondary-dark); }

.btn {
  font-size: 1.5rem;
  border: none;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s; }
  .btn__visible {
    padding: 2rem 7.5rem; }
  .btn__invisible {
    padding: 2rem 0;
    position: absolute;
    left: 0;
    top: -100%; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__invisible {
    top: 0; }
  .btn:focus {
    outline: none;
    animation: pulse 1s infinite; }
  .btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s; }
    .btn-inline > span {
      margin-left: 3px;
      transition: margin-left .2s; }
    .btn-inline:hover {
      color: var(--color-grey-dark-1); }
      .btn-inline:hover span {
        margin-left: 8px; }
    .btn-inline:focus {
      outline: none;
      animation: pulse 1s infinite; }

.comment-section {
  background-color: var(--color-grey-light-2);
  background-image: none; }
  .comment-section__placeholder {
    width: 100%;
    text-align: center;
    outline: 0;
    border-radius: 10px; }
  .comment-section__holder {
    width: 100%;
    margin-top: 2rem; }
    .comment-section__holder a {
      text-decoration: none;
      color: var(--color-primary);
      font-size: 1.2rem; }
    .comment-section__holder img {
      height: 5rem;
      width: 5rem;
      border-radius: 1000px; }

.cta {
  padding: 3.5rem 0;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .cta {
      padding: 2.5rem 0; } }
  .cta__book-now {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
    text-transform: uppercase; }

.form-view {
  color: var(--color-secondary-light); }
  .form-view input[type="text"], .form-view input[type="email"], .form-view input[type="password"], .form-view input[type="date"], .form-view select {
    border: 1px solid var(--color-grey-light-2);
    margin-top: .5rem;
    width: 70%;
    padding: 1rem; }
  .form-view input[type="submit"] {
    margin-top: .5rem;
    color: var(--color-secondary-light); }
  .form-view__login--captcha {
    background-color: var(--color-secondary-light);
    text-align: center;
    border: 0;
    outline: 0;
    color: var(--color-grey-dark-1); }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap; }
  .list__item::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: .7rem;
    background-image: url(../images/svg/chevron-thin-right.svg);
    background-size: cover; }
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      .list__item::before {
        background-color: var(--color-primary);
        -webkit-mask-image: url(../images/svg/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-image: url(../images/svg/chevron-thin-right.svg);
        mask-size: cover;
        background-image: none; } }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: .7rem; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line); }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
    @media only screen and (max-width: 37.5em) {
      .overview__heading {
        font-size: 1.8rem;
        padding: 1.25rem 2rem; } }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__icon-star, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .overview__icon-location {
    margin-right: 1rem; }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center; }
  .overview__rating {
    background-color: var(--color-primary);
    margin-left: 3rem;
    color: #ffffff;
    padding: 0 2.25rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating {
        padding: 0 1.5rem; } }
  .overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating-average {
        font-size: 1.8rem; } }
  .overview__rating-count {
    font-size: .8rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 56.25em) {
      .overview__rating-count {
        text-align: center; } }
    @media only screen and (max-width: 37.5em) {
      .overview__rating-count {
        font-size: .5rem;
        text-align: center; } }

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center; }
  .recommend__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff; }
    .recommend__photo:not(:last-child) {
      margin-right: -2rem; }
  .recommend__friends {
    margin-left: auto;
    display: flex; }

.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .review {
      padding: 2rem;
      margin-bottom: 3rem; } }
  .review__text {
    margin-bottom: 2rem;
    z-index: 6;
    position: relative; }
  .review__user {
    display: flex;
    align-items: center; }
  .review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  .review__user-box {
    margin-right: auto; }
  .review__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .4rem; }
  .review__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3); }
  .review__rating {
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--color-primary);
    align-items: stretch; }
  .review::before {
    content: "\201C";
    position: absolute;
    line-height: 1;
    top: -2.75rem;
    left: -1rem;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: 5; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 31.25em) {
    .search {
      order: 1;
      flex: 0 0 100%;
      background-color: var(--color-grey-light-2); } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    color: inherit;
    padding: .7rem 2rem;
    border-radius: 10rem;
    margin-right: -3.25rem;
    width: 90%;
    transition: all .2s; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.side-nav {
  font-size: 1.4rem;
  list-style-type: none;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      display: flex;
      margin: 0; } }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav__item:not(:last-child) {
          margin: 0; } }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        flex: 1; } }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.3s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.3s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center;
        padding: 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column;
        padding: 1.5rem .5rem; } }
  .side-nav__link > span {
    z-index: 1; }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
    z-index: 1; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__icon {
        margin-right: 0;
        margin-bottom: 5px;
        width: 1.5rem;
        height: 1.5rem; } }

.status-post {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .status-post:not(:last-child) {
    margin-bottom: 1rem; }
  .status-post__image {
    display: flex;
    flex-direction: column; }
    .status-post__image img {
      max-height: 20rem;
      max-width: 20rem;
      margin-bottom: 1rem; }
  .status-post__body {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem; }
  .status-post__posted-by {
    color: --var(--color-grey-dark-2);
    padding: 2rem; }
  .status-post__profile-pic {
    margin-right: 1rem; }
    .status-post__profile-pic img {
      border-radius: 500px; }
  .status-post__comments {
    padding: 0;
    text-decoration: none;
    color: var(--color-primary);
    border: none; }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    height: 100%;
    padding: 0 2rem;
    cursor: pointer;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #ffffff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: #ffffff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      height: 11rem;
      align-content: space-around; } }

.hotel-view {
  flex: 1; }

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-2);
  border-bottom: var(--line); }
  @media only screen and (max-width: 56.25em) {
    .detail {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .detail {
      flex-direction: column; } }

.description {
  flex: 0 0 60%;
  background-color: #ffffff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-right: 4.5rem; }
  .description--posts, .description--profile {
    flex: 0 0 100%;
    background-color: var(--color-white);
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-right: 4.5rem; }
    .description--posts h2, .description--profile h2 {
      text-align: center;
      margin-bottom: 1rem; }
    .description--posts textarea, .description--profile textarea {
      text-align: center;
      width: 100%;
      font-family: 'Open-Sans', sans-serif; }
    @media only screen and (max-width: 56.25em) {
      .description--posts, .description--profile {
        padding: 2rem;
        margin-right: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .description--posts, .description--profile {
        margin-right: 0;
        margin-bottom: 3rem; } }
  @media only screen and (max-width: 56.25em) {
    .description {
      padding: 2rem;
      margin-right: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .description {
      margin-right: 0;
      margin-bottom: 3rem; } }

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

body {
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.landing-body {
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.4rem; }

.form-view {
  text-align: center;
  background-color: var(--color-grey-dark-1);
  width: 50%;
  border-radius: 2.5px;
  overflow: hidden;
  box-shadow: var(--shadow-dark);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .form-view__header {
    background-color: var(--color-primary);
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--color-white);
    font-size: 1.5rem;
    padding-bottom: .5rem;
    margin-bottom: .5rem; }
    .form-view__header p {
      color: var(--color-white); }
    .form-view__header h2 {
      color: var(--color-white); }
  .form-view__register {
    display: none; }
  .form-view__login a,
  .form-view__register a {
    line-height: 5rem;
    color: var(--color-white);
    text-decoration: none; }

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .profile-detail {
    min-height: var(--min-height-placeholder);
    display: flex;
    justify-content: center; }
  .profile__profile-picture img {
    border-radius: 50%;
    min-width: 10rem;
    min-height: 10rem;
    max-width: 20rem;
    max-height: 20rem;
    display: block; }
  .profile__content {
    margin-top: 1rem;
    font-size: 1.6rem;
    text-align: center; }
    .profile__content a {
      color: var(--color-secondary-dark); }
  .profile__change-picture {
    width: 100%;
    margin-top: 1.5rem; }
    .profile__change-picture form input[type="submit"] {
      color: var(--color-secondary-dark); }
  .profile__text-gallery {
    display: flex;
    justify-content: space-between; }
    .profile__text-gallery__text-par {
      flex: 0 0 15%;
      text-align: center; }

.search-results__display {
  display: flex;
  align-items: center; }

.search-results__profile-picture {
  flex: 0 0 20%; }
  .search-results__profile-picture img {
    max-width: 10rem;
    max-height: 10rem;
    min-width: 10rem;
    min-height: 10rem; }

.search-results__text {
  flex: 0 0 80%; }
  .search-results__text p {
    text-align: right; }

.search-detail {
  min-height: var(--min-height-placeholder); }

#comment_iframe {
  width: 100%; }

#comment_form {
  padding: 1rem; }

a {
  text-decoration: none;
  color: inherit; }
